<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>管理后台</title>
	<script type="text/javascript" src="/Public/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/Public/js/scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="/Public/js/scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
	<script type="text/javascript" src="/Public/js/scripts/swfupload/swfupload.js"></script>
	<script type="text/javascript" src="/Public/js/scripts/swfupload/swfupload.handlers.js"></script>
    <script type="text/javascript" src="/Public/js/layout.js"></script>	
    <link href="/Public/admin/css/pagination.css" rel="stylesheet" type="text/css" />	
	<link href="/Public/admin/admin.css" rel="stylesheet" type="text/css" />
	<link href="/Public/admin/page.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/Public/js/check.js"></script>
	<script type="text/javascript">
	    $(function () {
	        //初始化表单验证
	        $("#form").initValidform();
			 //初始化上传控件
	        $(".upload-img").each(function () {
	            $(this).InitSWFUpload({ sendurl: "/Admin/Public/upload", flashurl: "/Public/js/scripts/swfupload/swfupload.swf" });
	        });
	        $(".upload-album").each(function () {
	            $(this).InitSWFUpload({ btntext: "批量上传", btnwidth: 66, single: false, water: true, thumbnail: true, filesize: "2048", sendurl: "/Admin/Public/upload", flashurl: "/Public/js/scripts/swfupload/swfupload.swf", filetypes: "*.jpg;*.jpge;*.png;*.gif;" });
	        });
	        $(".attach-btn").click(function () {
	            showAttachDialog();
	        });
	        //设置封面图片的样式
	        $(".photo-list ul li .img-box img").each(function () {
	            if ($(this).attr("src") == $("#hidFocusPhoto").val()) {
	                $(this).parent().addClass("selected");
	            }
	        });
			$("#ddlParentId").change(function(){
				$.get('/Admin/Admin/selectajax',{id:this.value},function(data){
					 var dataobj = eval("("+data+")");
					 $("#ddlParentId1").prev().find('span').html('请选择在市级单位');					 
					 $("#ddlParentId1").html(dataobj.str);
					 $("#ddlParentId1").prev().find('ul').html(dataobj.str1);
				});
			});
			$("#ddlParentId1").change(function(){
				$.get('/Admin/Admin/selectajax1',{id:this.value},function(data){
					 var dataobj = eval("("+data+")");
					 $("#ddlParentId2").prev().find('span').html('请选择在区县单位');					 
					 $("#ddlParentId2").html(dataobj.str);
					 $("#ddlParentId2").prev().find('ul').html(dataobj.str1);
				});
			});
			$("#quanxian").change(function(){
				if(this.value == 1){
					$("#daili").css("display","block");
				}else{
					$("#daili").css("display","none");
				}
			});	
	    });
		function sel(obj){		
			$(obj).siblings().removeClass("selected");
            $(obj).addClass("selected"); //添加选中样式
            var indexNum = $(obj).index();
			var titObj = $(obj).parents('.boxwrap');
            var selectObj = $(obj).parents('.boxwrap').next();
            //selectObj.find("option").attr("selected", false);			
           // selectObj.find("option").eq(indexNum).attr("selected", true); //赋值给对应的option
		   selectObj.get(0).selectedIndex =$(obj).index();
            titObj.find("span").text($(obj).text()); //赋值选中值        
            selectObj.trigger("change"); 		
		}
	    //创建附件窗口
	    function showAttachDialog(obj) {
	        var objNum = arguments.length;
	        var attachDialog = $.dialog({
	            id: 'attachDialogId',
	            lock: true,
	            max: false,
	            min: false,
	            title: "上传附件",
	            content: 'url:dialog/dialog_attach.aspx',
	            width: 500,
	            height: 180
	        });
	        //如果是修改状态，将对象传进去
	        if (objNum == 1) {
	            attachDialog.data = obj;
	        }
	    }
	    //删除附件节点
	    function delAttachNode(obj) {
	        $(obj).parent().remove();
	    }	
		
	</script>
</head>
<body class="mainbody">
    <form id="form" method="post">
    <!--导航栏-->
<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
  <a href="/Admin/Index/center" class="home"><i></i><span>首页</span></a>
  <i class="arrow"></i>
  <a href="/Admin/Admin"><span>管理员列表</span></a>
  <i class="arrow"></i>
  <span>修改信息</span>
</div>
<div class="line10"></div>
<!--/导航栏-->

<!--内容-->
<div class="content-tab-wrap">
  <div id="floatHead" class="content-tab">
    <div class="content-tab-ul-wrap">
      <ul>
        <li><a href="javascript:;" onclick="tabs(this);" class="selected">基本信息</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
	<input type="hidden" name="id" value="{$id}" />
	<dl>
		<dt>权限</dt>
		<dd>
			<div class="rule-single-select">
				<select name="role_id" datatype="*" sucmsg=" " id="quanxian">
					<option value=" ">请选择所属权限组</option>
					<volist name="role" id="val">		
						<option value="{$val.id}" <if condition="$val.id eq $role_id">selected="selected"</if> >{$val.name}</option>
					</volist>
				</select>
			</div>
		</dd>
	</dl>
	<dl id = "daili" <if condition = "$role_id eq 1">style="display: block"<else /> style="display: none"</if>>
		<dt>市区</dt>
		<dd>
			<div class="rule-single-select">
				<select id="ddlParentId" name="provinceid">
					<option value="0" selected="selected">请选择在省级单位</option>
					<volist name="type1" id="val">		
						<option value="{$val.provinceid}" <if condition="$val.provinceid eq $provinceid">selected="selected"</if>>{$val.province}</option>
					</volist>
				</select>
			</div>
			<div class="rule-single-select">
				<select name="cityid" id="ddlParentId1"> 
					<option value="{$cityid}" selected="selected">{$citytitle}</option>
				</select>
			</div>
			
			<div class="rule-single-select">
				<select name="areaid" id="ddlParentId2"> 
					<option value="{$areaid}" selected="selected">{$areatitle}</option>
				</select>
			</div>
			<span class="Validform_checktip">*只选择省为省级代理，选择省市为市级代理，三级全选为区县代理</span>
		</dd>
	</dl>
	<dl>
		<dt>账号</dt>
		<dd><input type="text" name="name" value="{$name}" datatype="*" Class="input normal" sucmsg=" " /> <span class="Validform_checktip">*</span></dd>
	</dl> 
  <dl>
    <dt>状态</dt>
    <dd>
		<div class="rule-multi-radio multi-radio">	
      		<label><input type="radio" Value="1" <if condition="$state eq 1">checked="checked"</if> name="state" />正常</label>
			<label><input type="radio" Value="2" <if condition="$state eq 2">checked="checked"</if> name="state" />冻结</label>
    	</div>
	</dd>
  </dl>
 </div>
<!--/内容-->

<!--工具栏-->
<div class="page-footer">
  <div class="btn-list">
    <input id="btnSubmit" type="submit" value="提交保存" Class="btn" onclick="btnSubmit_Click" />
    <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
  </div>
  <div class="clear"></div>
</div>
<!--/工具栏-->
    </form>
</body>
</html>