<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>管理后台</title>
	<script type="text/javascript" src="/Public/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/Public/js/scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="/Public/js/scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
	<script type="text/javascript" src="/Public/js/scripts/swfupload/swfupload.js"></script>
	<script type="text/javascript" src="/Public/js/scripts/swfupload/swfupload.handlers.js"></script>
    <script type="text/javascript" src="/Public/js/layout.js"></script>	
    <link href="/Public/admin/css/pagination.css" rel="stylesheet" type="text/css" />	
	<link href="/Public/admin/admin.css" rel="stylesheet" type="text/css" />
	<link href="/Public/admin/page.css" rel="stylesheet" type="text/css" />
	<style>
	.remark,.photo-list ul li .img-box img,.photo-list ul li .img-box,.img-box,.photo-list ul li .img-box .remark{width: 220px;!important;}
	</style>
	<script type="text/javascript" src="/Public/js/check.js"></script>
	<script type="text/javascript" src="/Public/js/jsAddress.js"></script>
		<script charset="utf-8" src="/Public/editor/kindeditor.js"></script>
	<script charset="utf-8" src="/Public/editor/lang/zh_CN.js"></script>
	<script>
	        KindEditor.ready(function(K) {
	                window.editor = K.create('#content');
	        });
	        KindEditor.ready(function(K) {
	                K.create('#content', {
	                        uploadJson : '/Public/editor/php/upload_json.php',
	                        fileManagerJson : '/Public/editor/php/file_manager_json.php',
	                        allowFileManager : true
	                });
	        });
	</script>
	<script type="text/javascript">
	    $(function () {
	        //初始化表单验证
	        $("#form").initValidform();
			 //初始化上传控件
	        $(".upload-img").each(function () {
	            $(this).InitSWFUpload({ sendurl: "/Admin/Public/upload", flashurl: "/Public/js/scripts/swfupload/swfupload.swf" });
	        });
	        $(".upload-album").each(function () {
	            $(this).InitSWFUpload({ btntext: "批量上传", btnwidth: 66, single: false, water: true, thumbnail: true, filesize: "20000", sendurl: "/Admin/Public/upload", flashurl: "/Public/js/scripts/swfupload/swfupload.swf", filetypes: "*.jpg;*.jpge;*.png;*.gif;" });
	        });
	        $(".attach-btn").click(function () {
	            showAttachDialog();
	        });
	        //设置封面图片的样式
	        $(".photo-list ul li .img-box img").each(function () {
	            if ($(this).attr("src") == $("#hidFocusPhoto").val()) {
	                $(this).parent().addClass("selected");
	            }
	        });
	    });
	    //创建附件窗口
	    function showAttachDialog(obj) {
	        var objNum = arguments.length;
	        var attachDialog = $.dialog({
	            id: 'attachDialogId',
	            lock: true,
	            max: false,
	            min: false,
	            title: "上传附件",
	            content: 'url:dialog/dialog_attach.aspx',
	            width: 500,
	            height: 180
	        });
	        //如果是修改状态，将对象传进去
	        if (objNum == 1) {
	            attachDialog.data = obj;
	        }
	    }
	    //删除附件节点
	    function delAttachNode(obj) {
	        $(obj).parent().remove();
	    }	
		
	</script>
</head>
<body class="mainbody">
    <form id="form" method="post" action="/Admin/Banner/edit">
    <!--导航栏-->
<div class="location">
  <a href="/Admin/Index/center" class="home"><i></i><span>首页</span></a>
  <i class="arrow"></i>
  <a href="/Admin/Banner"><span>首页幻灯</span></a>
</div>
<div class="line10"></div>
<!--/导航栏-->

<!--内容-->
<div class="content-tab-wrap">
  <div id="floatHead" class="content-tab">
    <div class="content-tab-ul-wrap">
      <ul>
        <li><a href="javascript:;" onclick="tabs(this);" class="selected">首页幻灯</a></li>
<!--		<li><a href="javascript:;" onclick="tabs(this);">账户信息</a></li>-->
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">


   <dl ID="div_albums_container" runat="server" visible="false">
    <dt>首页幻灯</dt>
    <dd>
      <div class="upload-box upload-album"></div>
      <input type="hidden" name="hidFocusPhoto" id="hidFocusPhoto" class="focus-photo" />
      <div class="photo-list">
        <ul>
        <li></li>
         <volist name="data_img" id="data_img">
			<li>
			 <input type="hidden" value="{$data_img.id}" name="img_id[]"></input>
		         <input type="hidden" value="{$data_img.simg}" name="user_simg[]"></input>
				<input type="hidden" value="{$data_img.title}" name="user_desc[]"></input>    
              <div class="img-box" onclick="setFocusImg(this);" >
               <a target="_blank" href="{$data_img.simg}"> <img src="{$data_img.simg}"  style="width: 220px;" /></a>
                <span class="remark" style="width: 220px;"><i>{$data_img.title}</i></span>
              </div>
              <a href="javascript:;" onclick="setRemark(this);">描述</a>
              <a href="javascript:;" onclick="delImg(this);">删除</a>           
            </li>
            </volist>
        </ul>
      </div>
    </dd>
  </dl>
</div>
	
	
<!--/内容-->

<!--工具栏-->
<div class="page-footer">
  <div class="btn-list">
    <input id="btnSubmit" type="submit" value="提交保存" Class="btn" onclick="btnSubmit_Click" />
    <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
  </div>
  <div class="clear"></div>
</div>
<!--/工具栏-->
    </form>
</body>
</html>