<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>管理后台</title>
	<script type="text/javascript" src="/Public/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Public/js/scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
    <script type="text/javascript" src="/Public/js/layout.js"></script>	
    <link href="/Public/admin/css/pagination.css" rel="stylesheet" type="text/css" />	
	<link href="/Public/admin/base.css" rel="stylesheet" type="text/css" />
	<link href="/Public/admin/layout.css" rel="stylesheet" type="text/css" />
	<link href="/Public/admin/admin.css" rel="stylesheet" type="text/css" />
	<link href="/Public/admin/page.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/Public/js/check.js"></script>
</head>
<body class="mainbody">
    <form id="form1" method="get">
    <div>
        <!--导航栏-->
        <div class="location">
            <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
            <a href="/Admin/Index/center" class="home"><i></i><span>首页</span></a> <i class="arrow">
            </i><span>维修日志</span>
        </div>
        <!--/导航栏-->
        <!--工具栏-->
        <div class="toolbar-wrap">
            <div id="floatHead" class="toolbar">
                <div class="l-list">
                    <ul class="icon-list">
                
                        <li><a class="all" href="javascript:;" onclick="checkAll(this)"><i></i><span>全选</span></a></li>
                        <li><a class="del" style="cursor:pointer;" id="btnDelete" OnClick="return ExePostBack('Log')"><i></i><span>删除</span></a></li>
                    </ul>
                   
                </div>
               
            </div>
        </div>
        <!--/工具栏-->
		
        <!--列表-->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
                    <tr>
                        <th width="8%">
                            选择
                        </th>
                        <th align="center" width="18%">
 		车主账号(手机号)
                        </th>
						<th align="center" width="25%">
 		维修车辆
                        </th>
						<th align="center" width="30%">
 		选择服务
                        </th>
                        <th align="center">
                           完成时间
                        </th>
                    </tr>
		 <volist name="data" id="val">
                <tr>
                    <td align="center">
                    	<input type="checkbox" Class="checkall" value="{$val.id}" Style="vertical-align: middle;" />
                    	
                    </td>
                    <td align="center">
                        {$val.phone}
                    </td>
					<td align="center">
                        {$val.title}
                    </td>
					<td align="center">
                        {$val.service_type}
                    </td>
                     <td align="center">
                       {$val.service_date|date = "Y-m-d H:i:s",###}
                    </td>
                </tr>
            </volist>
 
                </table>
        <!--/列表-->
        <!--内容底部-->
        <div class="line20">
        </div>
        <div class="pagelist">
            <div class="flickr">
                {$page}
            </div>
        </div>
        <!--/内容底部-->
    </div>
    </form>
</body>
</html>
