<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>管理后台</title>
	<script type="text/javascript" src="/Public/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Public/js/scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
    <script type="text/javascript" src="/Public/js/layout.js"></script>	
    <link href="/Public/admin/css/pagination.css" rel="stylesheet" type="text/css" />	
	<link href="/Public/admin/base.css" rel="stylesheet" type="text/css" />
	<link href="/Public/admin/layout.css" rel="stylesheet" type="text/css" />
	<link href="/Public/admin/admin.css" rel="stylesheet" type="text/css" />
	<link href="/Public/admin/page.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/Public/js/check.js"></script>
</head>
<body class="mainbody">
    <form id="form1" method="post">
    <div>
        <!--导航栏-->
        <div class="location">
            <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
            <a href="/Admin/Index/center" class="home"><i></i><span>首页</span></a> <i class="arrow">
            </i><span>导航列表</span>
        </div>
        <!--/导航栏-->
		<!--工具栏-->
        <div class="toolbar-wrap">
            <div id="floatHead" class="toolbar">
                <div class="l-list">
                    <ul class="icon-list">
                        <li><a class="add" href="{:U('/Admin/Nav/add')}"><i></i><span> 新增</span></a></li>
                        <li><a class="all" href="javascript:;" onclick="checkAll(this)"><i></i><span>全选</span></a></li>
                        <li><a class="del" style="cursor:pointer;" id="btnDelete" OnClick="return ExePostBack('Nav')"><i></i><span>删除</span></a></li>
                    </ul>
                </div>

            </div>
        </div>
        <!--/工具栏-->	
        <!--列表-->
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">             

		<tr>
		    <th width="10%">选择</th>
		    <th align="left" width="15%">调用ID</th>
		    <th align="left">导航标题</th>
		    <th width="12%">状态</th>
		    <th width="15%">操作</th>
		</tr>
		<volist name="nav" id="val">
			<volist name="val.catid" id="val1">
				  <tr>
				    <td align="center">
						<input type="checkbox" Class="checkall" value="{$val1.id}" Style="vertical-align: middle;" />
				    </td>
				    <td style="white-space:nowrap;word-break:break-all;overflow:hidden;">{$val1.name}</td>
				    <td style="white-space:nowrap;word-break:break-all;overflow:hidden;">
				      <span class="folder-open"></span>
				      <a href="/Admin/Nav/edit/id/{$val1.id}">{$val1.title}</a>
					  	<empty name="val1.url">
	                		
							<else />
							(链接：{$val1.url})
						</empty>
					  
				    </td>
				    <td align="center"><if condition="$val1.state eq 1">显示<else/><span style="color: green;">隐藏</span></if></td>
		            <td align="center">
		            	<if condition="$val1.state eq 1">
		            		<a href="/Admin/Nav/state/id/{$val1.id}/state/0">隐藏</a>　                	
						<else />
							<a href="/Admin/Nav/state/id/{$val1.id}/state/1">显示</a>　
						</if>
						<a href="/Admin/Nav/add/id/{$val1.id}">添加下级</a>　
						<a href="/Admin/Nav/edit/id/{$val1.id}">修改</a>
		            </td>
				  </tr>
					  <volist name="val1.catid" id="val2">
					  	 <tr>
						  	 <td align="center">
								<input type="checkbox" Class="checkall" value="{$val2.id}" Style="vertical-align: middle;" />
						    </td>
						    <td style="white-space:nowrap;word-break:break-all;overflow:hidden;">{$val2.name}</td>
						    <td style="white-space:nowrap;word-break:break-all;overflow:hidden;">
							  <span style="display:inline-block;width:0px;"></span>
						      <span class="folder-line"></span><span class="folder-open"></span>
						      <a href="/Admin/Nav/edit/id/{$val2.id}">{$val2.title}</a>
							  	<empty name="val2.url">
			                		
									<else />
									(链接：{$val2.url})
								</empty>
						    </td>
						    <td align="center"><if condition="$val2.state eq 1">显示<else/><span style="color: green;">隐藏</span></if></td>
				            <td align="center">
				            	<if condition="$val2.state eq 1">
				            		<a href="/Admin/Nav/state/id/{$val2.id}/state/0">隐藏</a>　                	
								<else />
									<a href="/Admin/Nav/state/id/{$val2.id}/state/1">显示</a>　
								</if>
								<a href="/Admin/Nav/add/id/{$val2.id}">添加下级</a>　
								<a href="/Admin/Nav/edit/id/{$val2.id}">修改</a>
				            </td>
						  </tr>
				
							  <foreach name="val2.catid" item="val3">
							  	 <tr>
								  	 <td align="center">
										<input type="checkbox" Class="checkall" value="{$val3.id}" Style="vertical-align: middle;" />
								    </td>
								    <td style="white-space:nowrap;word-break:break-all;overflow:hidden;">{$val3.name}</td>
								    <td style="white-space:nowrap;word-break:break-all;overflow:hidden;">
									  <span style="display:inline-block;width:25px;"></span>
								      <span class="folder-line"></span><span class="folder-open"></span>
								      <a href="/Admin/Nav/edit/id/{$val3.id}">{$val3.title}</a>
									  	<empty name="val3.url">
					                		
											<else />
											(链接：{$val3.url})
										</empty>
								    </td>
								    <td align="center"><if condition="$val3.state eq 1">显示<else/><span style="color: green;">隐藏</span></if></td>
						            <td align="center">
						            	<if condition="$val3.state eq 1">
						            		<a href="/Admin/Nav/state/id/{$val3.id}/state/0">隐藏</a>　                	
										<else />
											<a href="/Admin/Nav/state/id/{$val3.id}/state/1">显示</a>　
										</if>
										<a href="/Admin/Nav/add/id/{$val3.id}">添加下级</a>　
										<a href="/Admin/Nav/edit/id/{$val3.id}">修改</a>
						            </td>
								  </tr>
						  </foreach>
				  </volist>
		  	</volist>
          </volist>
                </table>
        <!--/列表-->
        <!--内容底部-->
        <div class="line20">
        </div>
        <!--/内容底部-->
    </div>
    </form>
</body>
</html>
