<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>管理后台</title>
	<script type="text/javascript" src="/Public/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/Public/js/scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" src="/Public/js/scripts/lhgdialog/lhgdialog.js?skin=idialog"></script>
	<script type="text/javascript" src="/Public/js/scripts/swfupload/swfupload.js"></script>
	<script type="text/javascript" src="/Public/js/scripts/swfupload/swfupload.handlers.js"></script>
    <script type="text/javascript" src="/Public/js/layout.js"></script>	
    <link href="/Public/admin/css/pagination.css" rel="stylesheet" type="text/css" />	
	<link href="/Public/admin/admin.css" rel="stylesheet" type="text/css" />
	<link href="/Public/admin/page.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/Public/js/check.js"></script>
	<script type="text/javascript">
	    $(function () {
	        //初始化表单验证
	        $("#form").initValidform();
	    });	
	</script>
</head>
<body class="mainbody">
    <form id="form" method="post">
    <!--导航栏-->
<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
  <a href="/Admin/Index/center" class="home"><i></i><span>首页</span></a>
  <i class="arrow"></i>
  <a href="/Admin/Nav"><span>导航列表</span></a>
  <i class="arrow"></i>
  <span>新增后台导航</span>
</div>
<div class="line10"></div>
<!--/导航栏-->

<!--内容-->
<div class="content-tab-wrap">
  <div id="floatHead" class="content-tab">
    <div class="content-tab-ul-wrap">
      <ul>
        <li><a href="javascript:;" onclick="tabs(this);" class="selected">后台导航信息</a></li>
<!--		<li><a href="javascript:;" onclick="tabs(this);">账户信息</a></li>-->
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
	
  <dl>
    <dt>上级导航</dt>
    <dd>
      <div class="rule-single-select">
      	<select name="bid" id="ddlParentId">
      		<empty name="bid">
      			<option value="0" selected="selected">无父级导航</option>
      			<else />
				<option value="0">无父级导航</option>
      		</empty>		
			<volist name="nav" id="val">		
				<option value="{$val.id}" <if condition="$val.id eq $bid">selected="selected"</if>>{$val.title}</option>
				<volist name="val.catid" id="val1">
					<option value="{$val1.id}" <if condition="$val1.id eq $bid">selected="selected"</if>>　├ {$val1.title}</option>
					<volist name="val1.catid" id="val2">
					<option value="{$val2.id}" <if condition="$val2.id eq $bid">selected="selected"</if>>　　├ {$val2.title}</option>
						<foreach name="val2.catid" item="val3">
						<option value="{$val3.id}" <if condition="$val3.id eq $bid">selected="selected"</if>>　　　├ {$val3.title}</option>
						</foreach>
					</volist>
				</volist>
			</volist>
		</select>
      </div>
    </dd>
  </dl>
  <dl>
    <dt>导航名称</dt>
      <dd><input type="text" name="title" datatype="*" Class="input normal" sucmsg=" " nullmsg="请输入导航名称！" /> <span class="Validform_checktip">*</span></dd>
  </dl> 
  <dl>
    <dt>是否显示</dt>
    <dd>
		<div class="rule-multi-radio multi-radio">	
    		<label><input type="radio" Value="1" checked="checked" name="state" />是</label>
      		<label><input type="radio" Value="0" name="state" />否</label>
    	</div>
	</dd>
  </dl>
  <dl>
    <dt>调用ID</dt>
      <dd><input type="text" name="name" datatype="*" Class="input normal" sucmsg=" " nullmsg="请输入调用ID！" /> <span class="Validform_checktip">*控制权限</span></dd>
  </dl>
  <dl>
    <dt>权限等级</dt>
      <dd><input type="text" name="level" datatype="*" Class="input normal" sucmsg=" " nullmsg="请输入权限等级！" /> <span class="Validform_checktip">*权限等级（1.模块 2.控制器 3.方法）</span></dd>
  </dl>
  <dl>
    <dt>链接地址</dt>
      <dd><input type="text" name="url" Class="input normal" /></dd>
  </dl>
 <dl>
    <dt>权限资源</dt>
    <dd>
      <div class="rule-multi-porp multi-porp">
          <span id="cblActionType" style="display: none;">
			  <input id="cblActionType_1" type="checkbox" name="cblActionType[]" value="index 查看">
			  <label for="cblActionType_1">查看(Index)</label>
			  <input id="cblActionType_2" type="checkbox" name="cblActionType[]" value="add 添加">
			  <label for="cblActionType_2">添加(Add)</label>
			  <input id="cblActionType_3" type="checkbox" name="cblActionType[]" value="edit 修改">
			  <label for="cblActionType_3">修改(Edit)</label>
			  <input id="cblActionType_4" type="checkbox" name="cblActionType[]" value="delete 删除">
			  <label for="cblActionType_4">删除(Delete)</label>
			  <input id="cblActionType_5" type="checkbox" name="cblActionType[]" value="state 审核">
			  <label for="cblActionType_5">审核(State)</label>
			  <input id="cblActionType_6" type="checkbox" name="cblActionType[]" value="reply 回复">
			  <label for="cblActionType_6">回复(Reply)</label>
			  <input id="cblActionType_15" type="checkbox" name="cblActionType[]" value="reset 重置">
			  <label for="cblActionType_15">重置(Reset)</label>
			  <!--
			  <input id="cblActionType_7" type="checkbox" name="cblActionType$7">
			  <label for="cblActionType_7">确认(Confirm)</label>
			  <input id="cblActionType_8" type="checkbox" name="cblActionType$8">
			  <label for="cblActionType_8">取消(Cancel)</label>
			  <input id="cblActionType_9" type="checkbox" name="cblActionType$9">
			  <label for="cblActionType_9">作废(Invalid)</label>
			  <input id="cblActionType_10" type="checkbox" name="cblActionType$10">
			  <label for="cblActionType_10">生成(Build)</label>
			  <input id="cblActionType_11" type="checkbox" name="cblActionType$11">
			  <label for="cblActionType_11">安装(Instal)</label>
			  <input id="cblActionType_12" type="checkbox" name="cblActionType$12">
			  <label for="cblActionType_12">卸载(Unload)</label>
			  <input id="cblActionType_13" type="checkbox" name="cblActionType$13">
			  <label for="cblActionType_13">备份(Back)</label>
			  <input id="cblActionType_14" type="checkbox" name="cblActionType$14">
			  <label for="cblActionType_14">还原(Restore)</label>
			  	
			  -->
		  </span>
      </div>
    </dd>
  </dl>
</div>
<!--工具栏-->
<div class="page-footer">
  <div class="btn-list">
    <input id="btnSubmit" type="submit" value="提交保存" Class="btn" onclick="btnSubmit_Click" />
    <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
  </div>
  <div class="clear"></div>
</div>
<!--/工具栏-->
    </form>
</body>
</html>